.plannerElement-data{
    display: grid;
    grid-template-columns: 4.25rem 1.75rem 1fr;
}

.upgradePicker-card{
    display: grid;
    grid-template-columns: 4.25rem 1.75rem 1fr;
}

.statusKV{
    display: grid;
    grid-template-columns: 6rem 1fr;
    max-width: 320px;
}

.statusLevels{
    grid-template-columns: repeat(8, 2rem);
    grid-template-rows: auto auto;
}

.desktopBarsLayout{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "buttons buttons"
    "status banner"
    "status .";
}

.desktopAreaButtons{
    grid-area: buttons;
}

.desktopAreaStatus{
    grid-area: status;
}

.desktopAreaBanner{
    grid-area: banner;
}